@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Raleway:wght@300;400;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
body{
    font-family: 'Noto Sans JP', 'Raleway', sans-serif;
}
/* banner_start */
#banner{
    background: url('../images/banner.jpg') no-repeat center;
    background-size: cover;
}
.overlay{
    background-color: rgba(20, 20, 20, 50%);
    padding-bottom: 5rem !important;
}
.banner_inner h4{
    font-family: 'Raleway';
    color: #1fb5ac;
}
.banner_inner h2{
    font-size: 90px;
    font-weight: 700;
    border: 1px dotted #fff;
}
.banner_inner p{
    width: 30%;
    color: #1fb5ac;
    margin-top: -18px!important;
}
/* banner_end */

/* navbar_start */
.navbar_inner{
    width: 90%;
    margin: 0 auto;
}
.navbar_inner img{
    max-width: 100%;
    display: block;
}
.navbar_inner a{
    width: 30%;
}
.navbar_inner .menu{
    width: 68%;
}
.menu li.active a{
    color: #1fb5ac !important;
}
.menu li:hover a{
    color: #1fb5ac !important;
    /* background-color: none !important; */
}
.navbar{
    border-color: #d9dcdd;
}
/* navbar_end */

/* features_start */
.features{
    background-color: #ecf0f1;
}
.feature_inner{
    width: 90%;
    overflow: hidden;
}
.feature_inner h2{
    padding-top: 70px;
}
.feature_inner h2::before{
    content: "";
    width: 12%;
    height: 4%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.feature_inner h2::after{
    content: "";
    width: 12%;
    height: 4%;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.feature_content h4{
    font-size: 1rem!important;
}
.features_details .fa-thumbs-up, .fa-laptop, .fa-gift{
    width: 20%;
    border-bottom: 4px solid #1fb5ac;
}
.features_details .fa-laptop{
    width: 27%;
}
.fa-laptop:nth-child(){
    width: 28%;
}
.fa-gift{
    padding-top: 2px !important;
}
.feature_para{
    font-family: 'Raleway';
}
.feature_para p{
    font-size: 14px;
    line-height: 26px;
    color: #919393;
}
.features_details{
    width: 90%;
}
/* features_end */

/* about_start */
.about_inner{
    width: 90%;
    font-family: 'Raleway';
}
.about_inner h2{
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #000;
}
.about_inner p{
    width: 68%;
}
.about_para img{
    max-width: 100%;
}
.about_para p{
    font-size: 16px;
    line-height: 26px;
}
/* about_start */

/* skills_start */
.skills{
    background-color: #ecf0f1;
}
.skills_inner{
    width: 90%;
    overflow: hidden;
}
.skills_inner h2{
    padding-top: 70px;
}
.skills_inner h2::before{
    content: "";
    width: 14%;
    height: 4%;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.skills_inner h2::after{
    content: "";
    width: 14%;
    height: 4%;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.skills_bottom{
    width: 80%;
}
.level_inner.rounded-circle{
    width: 140px;
    height: 140px;
    border-width: 10px!important;
}
.level_inside{
    width: 100px;
    height: 100px;
    font-family: 'Raleway';
    border: none;
}
.level_inside h4, h4 sup{
    font-size: 30px;
    font-weight: 900;
    color: #1fb5ac;
}
h4 sup{
    font-size: 12px;
    vertical-align: middle;  
}
.level_inside p{
    font-size: 14px;
    font-weight: 600;
}
circle{
    fill: none;
    stroke: url('#GradientColor');
    stroke-width: 10px;
    stroke-dasharray: 385;
    stroke-dashoffset: 385;
    animation: anim 3s linear forwards;
}
.skills_level:nth-child(2) circle{
    stroke: #e0c124;
    animation: anima 3s linear forwards;
}
.skills_level:nth-child(3) circle{
    stroke: #9324e1;
    animation: animat 3s linear forwards;
}
.skills_level:nth-child(4) circle{
    stroke: #1fb538;
    animation: animati 3s linear forwards;
}
svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes anim{
    100%{
        stroke-dashoffset: 92;
    }
}
@keyframes anima{
    100%{
        stroke-dashoffset: 19;
    }
}
@keyframes animat{
    100%{
        stroke-dashoffset: 57;
    }
}
@keyframes animati{
    100%{
        stroke-dashoffset: 119;
    }
}
/* skills_end */

/* team_start */
#team{
    background: url('../images/img7.jfif') no-repeat center;
    background-size: cover;
}
#team .overlay{
    background-color: rgba(20, 20, 20, 80%);
}
.team_inner{
    width: 90%;
    font-family: 'Raleway';
}
.team_inner h2{
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #fff;
}
.team .overlay{
    background-color: rgba(20, 20, 20, 70%);
}
.team_inner p{
    width: 68%;
}
.team_bg{
    width: 90%;
    background-color: #1fb5ac;
}
.team_bg img{
    max-width: 100%;
}
.team_para p{
    width: 98%;
}
.team_para h4::before{
    content: " ";
    width: 12%;
    height: 2px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    position: absolute;
}
.square ul{
    width: 6%;
}
.square li a{
    width: 10px;
    height: 10px;
    background-color: #1fb5ac;
    display: inline-block;
}
.square li.active a, .square li:hover a{
    background: none;
    border: 1px solid #1fb5ac;
}
/* team_end */

/* review_start */
.review{
    background-color: #1fb5ac;
}
.review_inner{
    width: 90%;
    font-family: 'Raleway';
}
.fa-mug-hot, .fa-square-check, .fa-user, .fa-trophy{
    font-size: 50px;
}
.reviews h4{
    font-size: 40px;
    font-weight: 900;
}
.reviews p{
    font-size: 10px;
}
.reviews h4 sup{
    font-size: 50px;
    vertical-align: text-bottom;
}
/* review_end */

/* service_start */
.service_inner {
    width: 90%;
    font-family: 'Raleway';
}
.service_inner h2 {
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #000;
}
.service_inner p {
    width: 68%;
}
.service_inner p:nth-child(2){
    width: 80%;
}
.service_content h4{
    font-size: 1rem!important;
}
.fa-thumbs-up, .fa-laptop, .fa-gift{
    width: 20%;
    border-bottom: 4px solid #1fb5ac;
}
.fa-laptop:nth-child(){
    width: 28%;
}
.fa-gift{
    padding-top: 2px !important;
}
.service_para{
    font-family: 'Raleway';
}
.service_para p{
    font-size: 14px;
    line-height: 26px;
    color: #919393;
}
.service_details{
    width: 90%;
}
.service_para h4::before{
    content: "";
    width: 44%;
    height: 4px;
    top: -6px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.service_para h4.active::before{
    content: "";
    width: 28%;
    height: 4px;
    top: -6px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
/* service_end */

/* core_start */
.core{
    background: url('../images/img8.jpg') no-repeat center;
    background-size: cover;
}
.core .overlay{
    background-color: rgba(20, 20, 20, 80%);
}
.core_inner{
    width: 90%;
}
.core_inner h2::before{
    content: "";
    width: 19%;
    height: 5%;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    position: absolute;
}
.core_inner h2::after {
    content: "";
    width: 19%;
    height: 5%;
    bottom: -6%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    position: absolute;
}
.fa-mobile-screen-button, .fa-gear, .fa-file{
    font-size: 34px;
}
.content_para p{
    width: 72%;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Raleway';
}
/* core_end */

/* portfolio_start */
.portfolio_inner{
    width: 90%;
    font-family: 'Raleway';
}
.portfolio_inner h2{
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #000;
}
.portfolio_inner p{
    width: 68%;
}
.portfolio_list li a{
    font-size: 8px;
}
a.active{
    background-color: #1fb5ac;
}
a.text-decoration-none.text-dark.border.border-2.border-light-subtle.p-2:hover {
    background: #1fb5ac;
    color: #fff !important;
    border: none !important;
}
.portfolio_image{
    grid-template-columns: auto auto auto auto;
}
/* portfolio_end */

/* plan_start */
.plan{
    background-color: #ecf0f1;
}
.plan_inner{
    width: 90%;
    font-family: 'Raleway';
}
.plan_inner h2 {
    padding-top: 70px;
}
.plan_inner h2::before {
    content: "";
    width: 19%;
    height: 5%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.plan_inner h2::after {
    content: "";
    width: 19%;
    height: 5%;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.plan_bg{
    width: 90%;
}
.plan_bg h4::before {
    content: "";
    width: 22%;
    height: 12%;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.plan_content:nth-child(2) .plan_bg h4::before{
    width: 42%;
}
.plan_content:nth-child(3) .plan_bg h4::before{
    width: 37%;
}
.plan_content:nth-child(4) .plan_bg h4::before{
    width: 16%;
}
.plan_bg .triangle{
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 120px solid #1fb5ac;
}
.plan_bg h5{
    font-size: 16px;
    font-weight: 700;
}
.plan_bg h3{
    font-size: 36px;
    font-weight: 800;
}
.traingle_content{
    margin-top: -98px;
}
.plan_para span{
    color: #1fb5ac;
    font-weight: 600;
}
.plan_para p{
    font-size: 17px;
    color: #2d2d2d;
}
.plan_para sup{
    font-size: 20px;
    vertical-align: text-bottom;
}
.plan_para a{
    font-size: 14px;
    background-color: #1fb5ac;
}
/* plan_end */

/* client_start */
#client{
    background: url('../images/img17.jpg') no-repeat center;
    background-size: cover;
}
#client .overlay{
    background-color: rgba(20, 20, 20, 80%);
}
.client_inner{
    width: 90%;
    font-family: 'Raleway';
}
.client_inner h2{
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #fff;
}
.client .overlay{
    background-color: rgba(20, 20, 20, 70%);
}
.client_inner p{
    width: 68%;
}
.carousel_img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
}
#carouselExampleIndicators{
    padding: 0 0 100px;
}
.carousel-indicators {
    margin: 0 0 -57px;
}
.carousel-indicators [data-bs-target]{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
button.carousel-control-prev, button.carousel-control-next{
    display: none;
}
/* client_end */

/* brand_start */
.brand{
    background-color: #1fb5ac;
}
.brand_inner{
    width: 90%;
}
.brand_inner{
    grid-template-columns: auto auto auto auto;
}
/* brand_end */

/* blog_start */
.blog_inner{
    width: 90%;
    font-family: 'Raleway';
}
.blog_inner h2 {
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #000;
}
.blog_inner p {
    width: 84%;
    font-size: 16px;
    line-height: 26px;
}
.blog_content{
    grid-template-columns: 46% 54%;
}
.blog_content:nth-child(2){
    background-color: #ecf0f1;
    grid-template-columns: 46% 54%;
}
.blog_lef .blog_para a, .blog_inner:nth-child(1) a{
    font-size: 14px;
    color: #1fb5ac;
    border: 2px solid #1fb5ac;
    padding: 8px;
}
.blog_content img, .blog_content:nth-child(2) img, .blog_rig img{
    width: -webkit-fill-available;
}
.blog_lef{
    width: 70%;
}
.blog_rig{
    width: 30%;
    background-color: #ecf0f1;
}
.blog_inner a{
    font-size: 18px;
}
/* blog_end */

/* twit_start */
.twit{
    background-color: #ecf0f1;
}
.twit_inner{
    width: 90%;
    font-family: 'Raleway';
}
.twit_inner h2::before {
    content: "";
    width: 19%;
    height: 10%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.twit_inner h2::after {
    content: "";
    width: 19%;
    height: 10%;
    bottom: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.twit_bottom .fa-twitter{
    width: 6%;
    background-color: #1fb5ac;
}
.twit_bottom h4, .twit_bottom h5 a{
    color: #1fb5ac;
}
.twit_bottom p, .twit_bottom h6{
    font-size: 20px;
    color: #545454;
}
.twit_bottom h6{
    font-size: 16px;
}
/* twit_end */

/* watch_start */
.watch{
    background: url('../images/img29.jpeg') no-repeat center;
    background-size: cover;
}
.watch .overlay{
    background-color: rgba(20, 20, 20, 80%);
}
.watch_inner{
    width: 90%;
    font-family: 'Raleway';
    margin: 0 auto;
}
.watch_inner h2{
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #fff;
}
.watch_inner p {
    width: 68%;
}
.play{
    width: 130px;
    height: 130px;
    border-radius: 100%;
}
.fa-play{
    font-size: 70px;
    margin: 24px 38px;
}
/* watch_end */

/* contact_start */
.contact_inner{
    width: 90%;
    font-family: 'Raleway';
}
.contact_inner h2{
    font-size: 90px;
    font-weight: 700;
    border: 1px dashed #000;
}
.contact_inner p{
    width: 76%;
    font-size: 20px;
    line-height: 32px;
}
.inner_details h4{
    font-size: 14px;
    color: #777777;
}
::placeholder{
    font-size: 12px;
    text-transform: capitalize;
    color: #777777;
}
.contact_details{
    grid-template-columns: auto auto;
    gap: 20px;
    outline: none;
}
.contact_details input{
    outline: none;
}
.contact_bottom a{
    font-size: 14px;
    color: #1fb5ac;
    border-color: #ccc;
}
textarea{
    outline: none;
}
/* contact_end */

/* touch_start */
.touch{
    background-color: #ecf0f1;
}
.touch_inner{
    width: 90%;
    font-family: 'Raleway';
}
.touch_inner h2::before {
    content: "";
    width: 19%;
    height: 10%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.touch_inner h2::after {
    content: "";
    width: 19%;
    height: 10%;
    bottom: -7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.get_inner{
    width: 25%;
}
.get_top{
    width: 20%;
    background-color: #9324e1;
}
.get_content p{
    font-size: 16px;
    color: #545454;
}
.get_content h4::before{
    content: "";
    width: 35%;
    height: 14%;
    top: -18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1fb5ac;
    position: absolute;
}
.get_inner:nth-child(2) .get_content h4::before{
    width: 23%;
}
.get_inner:nth-child(3) .get_content h4::before{
    width: 28%;
}
.get_inner:nth-child(4) .get_content h4::before{
    width: 26%;
}
.fa-map-marker-alt, .fa-regular, .fa-mobile-screen, .fa-skype{
    font-size: 28px;
    margin-left: -1px;
}
.email input{
    border: 10px solid #1fb5ac;
    outline: none;
}
.fa-paper-plane{
    font-size: 20px;
    margin-top: 10px;
}
form a{
    width: 12%;
    border: 2px solid #1fb5ac;
    margin: -59px 0 16px 1020px;
}
/* touch_end */

/* google_map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* google_map */

/* social_link */
.social{
    background: url('../images/img30.jfif') no-repeat center;
    background-size: cover;
}
.social_inner{
    width: 16%;
    grid-template-columns: auto auto auto;
}
.fa-facebook-f, .fa-twitter, .fa-google-plus-g{
    width: 60%;
    background-color: #4d504f;
}
/* social_link */

/* footer_start */
.footer_inner{
    width: 90%;
}
footer h4{
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 500;
}
footer span{
    font-size: 18px;
    font-weight: 400;
    color: #4d504f;
}
.fa-diamond-turn-right{
    font-size: 20px;
}
.fa-chevron-up{
    font-size: 20px;
    background-color: #90dad6;
}
/* footer_end */